/* Custom CSS styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
* {
  padding: 0%;
}

#cpu-metric {
  color: blue;
}

#mem-metric {
  color: yellowgreen;
}

#disk-metric {
  color: red;
}

#usage-message {
  color: blueviolet;
  font-weight: bold;
}
